//Variables

//Colors
$logored: #e30b00;
$offred: #af0a00;
$darkred: #620600;
$palered: #e74f45;

.clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}
